*{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Covered By Your Grace', cursive;
   text-align: center;
}

body{
    background-color: rgb(50, 84, 33);
}

input{
    background-color: rgb(191, 221, 246);
}

button{
    background-color: red;
    border-radius: 20%;
    color: white;
    border-color: white;
}

h1{
    font-size: 200px;
    margin-bottom: 50px;
    color: white;
}
